@use "../abstracts/variables" as var;
@use "../abstracts/mixins" as mixin;

*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

html {
    // Defines 1rem
    font-size: 62.5%; // 10px
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 12rem;

    @include mixin.respond(tab-land) {
        scroll-padding-top: 16rem;
    }

}

body {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;

}

.body {
    background-color: #fafbfb;
    background-repeat: repeat;
    background-size: contain;
}

h1 {
    font-size: 4rem;
    color: var.$color-black;
    text-transform: uppercase;
    font-weight: 300;
    margin-top: 2.5rem;

    

    &::after {
        display: block;
        height: 3px;
        background-color: var.$color-blue;
        content: " ";
        width: 100px ;
        margin-top: 12px;
        margin-left: auto;
        margin-right: auto;
        
    }
}

h2 {
    font-size: 2.25rem;
    color: var.$color-grey;
}

h5 {
    color: var.$color-grey;
    font-weight: 500;
    line-height: 3.25rem;
    font-size: 1.9rem;
}

h6 {
    color: var.$color-white;
    font-size: 2.2rem;
}

.root {
    background-color: var.$color-white;
    width: 100%;
}

hr {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.margin-top-2 {
    margin-top: 2rem;
}

.margin-top-3 {
    margin-top: 3rem;
}

